/*reset*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links {
  display: inline;
}

/*SECTION 2*/

.promo {
  padding-top: 20px;
  padding-bottom: 20px;
}

#promo-one,
#promo-two {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

#offer {
  font-size: 60px;
  text-align: center;
  color: #fff;
  padding-top:30px;
  padding-bottom: 30px;
}

#product-offer-1,
#product-offer-2 {
  width: 100%;
  max-width: 200px;
  height: 300px;
  padding: 20px;
  margin: 20px;
}

.text-block {
  position: absolute;
  bottom: 0px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.632);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
